﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div class="float-right">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
        @{Html.RenderAction("Summary", "Cart");}
        <div class="title">TEST MAGAZINE</div>
    </div>
    <div id="categories">
        @{ Html.RenderAction("Menu", "Nav"); }
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - KirkAwo Application Test</p>
            </div>
        </div>
    </footer>
</body>
</html>