﻿@model WebStore.Domain.Entities.Order

@{
    ViewBag.Title = "WebtStore: Checkout";
}

<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>Name: @Html.EditorFor(x => x.Name)</div>
    <h3>Address</h3>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    <div>Region: @Html.EditorFor(x => x.Region)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>Zip: @Html.EditorFor(x => x.CityIndex)</div>
    <div>Street: @Html.EditorFor(x => x.Street)</div>
    <div>Phone number: @Html.EditorFor(x => x.PhoneNumber)</div>
    <div>@Html.Hidden("UserId", @ViewBag.UserID as string)</div>
    <h3>Options</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Gift wrap these items
    </label>

    <p align="center">
        <input class="actionButtons" type="submit" value="Complete order" />
    </p>
}
