﻿@using WebStore.Domain.Entities
@model IEnumerable<WebStore.Domain.Entities.Order>
@using Helper = WebStore.WebUI.Helpers.PriceHelper

@{
    ViewBag.Title = "Parts orders";
}

<h2>All Parts orders:</h2>

@foreach (Order temp in Model)
{    
    IEnumerable<OrderLine> ol = temp.OrderLines;
    string price = "";
    <h3>Your order (ID @temp.OrderId) status @if (temp.Dispatched == null)
    {
        <p><strong>The order is processed</strong></p>
    }
    else if (temp.Dispatched == false)
    {
        <p><strong>The service delivery</strong></p>
    }
    else if (temp.Dispatched == true)
    {
        <p><strong>Done</strong></p>
    } details: </h3>
    <br />
    <br />
    <br />
    <table width="90%" align="center">
        <thead>
            <tr>
                <th align="center">Quantity</th>
                <th align="left">Item</th>
                <th align="right">Price</th>
                <th align="right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tmp in ol)
            {
                
            <tr>
                <td align="center">@tmp.Quantity</td>
                <td align="left">@tmp.Product.Name</td>
                <td align="right">@tmp.Product.Price.ToString("c")</td>
                <td align="right">@((tmp.Quantity * tmp.Product.Price).ToString("c"))</td>   
            </tr>
                string abc = Helper.Total(temp.OrderLines).ToString("C");
                price = abc;
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right">Total:</td>
                <td align="right">
                   @price
                </td>
            </tr>
        </tfoot>
    </table>
}