﻿@model WebStore.Domain.Entities.Order
@using Helper = WebStore.WebUI.Helpers.PriceHelper

@{
    ViewBag.Title = "Delivery details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Orders ID: @Model.OrderId</h1>
<h2>Delivery details:</h2>
<h3 class="NumericCol">Order sum: @{string s = Helper.Total(Model.OrderLines).ToString("C");} @s</h3>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to Main", "Index")
}>
