﻿@model IEnumerable<WebStore.Domain.Entities.Order>
@using Helper = WebStore.WebUI.Helpers.PriceHelper

@{
    ViewBag.Title = "Order processing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Orders</h1>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Orders</th>
        <th class="NumericCol">Price</th>
        <th>In Delivery</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Country, @item.Region, @item.City, @item.CityIndex, @item.Street</td>
            <td>@item.OrderLines.Sum(ol => ol.Quantity)</td>
            <td class="NumericCol">@{string s = Helper.Total(item.OrderLines).ToString("C");} @s</td>
            <td>@if(item.Dispatched == null)
                {
                    <p>The order is processed</p>
                } else if(item.Dispatched == false)
                {
                    <p>The service delivery</p>
                }
                else if (item.Dispatched == true)
                { 
                    <p>Done</p>
                }</td>
            <td>@Html.ActionLink("Details", "DeliveryEdit", new { item.OrderId })</td>
        </tr>
    }
</table>
