﻿@*@model*@ 

@{
    ViewBag.Title = "Personal Area";
}

<h2>Personal Area</h2>

<hr />
@foreach(var u in ViewBag.Data)
{
    if(u.Email == User.Identity.Name)
    { <p>Hello, @u.FirstName @u.SecondName</p>}
}

<hr />

@Html.ActionLink("Order list", "UserOrder", "Cart")
